{% include 'layout/header.html' %}
<div class="row">
	<header class="block intro">
		<div class="mobile-full tablet-4 desktop-7 desktop-push-1">
			<h1>{{ meta.client }}</h1>
			<h3><a href="{{ meta.link }}" target="_blank">{{ meta.link_display }}</a></h3>
			{{ content }}
		</div>
		<div class="mobile-full tablet-2 desktop-3 meta">
			<h4>Project</h4>
			<p>{{ meta.project }}</p>
			<h4>Role</h4>
			<p>{{ meta.role }}</p>
			{% if meta.agency %}
			<h4>Agency</h4>
			<p><a href="{{ meta.agency_link }}" target="_blank">{{ meta.agency }}</a></p>
			{% endif %}
		</div>
	</header>
	<hr class="mobile-full tablet-full desktop-10 desktop-push-1">
	<div class="block screenshots">
		<div class="mobile-full tablet-full desktop-full positioner">
			<menu class="pagination">
				{% for i, image in meta.images %}
				<span class="page">{{ i }}</span>
				{% endfor %}
			</menu>
			{% for image in meta.images %}
			<div class="item">
				<img src="{{ image.file }}">
			</div>
			{% endfor %}
		</div>
	</div>
	{% include 'layout/pagination.html' %}
</div>
{% include 'layout/footer.html' %}